body {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  background-color: #15202b;
  color: white;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 4vh;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 80%;
  border-radius: 0 0 4px 4px;
  margin: auto;
  font-size: 14px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.logo {
  max-width: 100px;
}

.chat {
  width: 600px;
  margin: auto;
  text-align: left;
}

.chat .chatInput {
  border: 2px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  height: 180px;
  max-width: calc(100% - 4px);
  margin: auto;
}

.chat .chatInput textarea {
  width: 100%;
  height: 120px;
  border: 0;
  resize: none;
  background-color: transparent;
  color: white;
}

.chat .chatInput textarea:focus {
  outline: none;
}

.chat .chatInput .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat .chatInput .bottom input[type="submit"] {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  border: 0;
  padding: 5px 10px;
  line-height: 20px;
  cursor: pointer;
}

.chat .chatInput .bottom input[type="submit"]:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.chat .chatInput .bottom .alertPlaceholder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.chat .chatInput .bottom .alertPlaceholder .alert {
  color: #721c24;
  background-color: #f8d7da;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
}

.chat .ChatOutputUl {
  padding: 0;
}

.chat .ChatOutputItem {
  background-color: #343a40;
  list-style: none;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 6px;
  font-size: 14px;
  word-break: break-word;
}

.chat .ChatOutputItem .info {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat .ChatOutputItem .info .userName,
.chat .ChatOutputItem .info .date {
  color: #6c757d;
}

.profile {
  width: 600px;
  margin: auto;
  text-align: left;
}

.profile h1 {
  font-size: 36px;
  margin-bottom: 26px;
  font-weight: normal;
}

.profile label {
  font-size: 18px;
  margin-bottom: 6px;
  display: block;
}

.profile input {
  height: 60px;
  border: 2px solid #cccccc;
  background-color: transparent;
  width: calc(100% - 2px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding: 16px 20px;
  color: white;
  font-size: 16px;
  margin-bottom: 16px;
}

.profile button {
  float: right;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  border: 0;
  padding: 8px 15px;
  line-height: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */